nvim/
falkTX/
dconf/
mimeapps.list
Windsurf/
gh/
ProtonPlus/
pavucontrol.ini
vkBasalt/
Mangohud/
goverlay/
go/
discord/
rygel.conf
nano
lact/
pulse/
user-dirs.locale
user-dirs.dirs
zen/
zed/
waybar.gnome/
micro/
waybar.bak
devin/
systemd/
monitors.xml
monitors.xml~
xdg-terminals.list
gnome-xdg-terminals.list
autostart/
easyeffectsrc
easyeffects/
evolution/
.gsd-keyboard.settings-ported
ibus/
mpv/
